Flask
flask-cors
pandas
pypdf
langchain-community
tiktoken
faiss-cpu
fastapi
uvicorn[standard]
openai
PdfReader
FAISS
re
csv
os
sys
glob
pandas
platform
Path
logging
io
deque
uuid